/* @override http://localhost:9181/static/css/main.css */

body {
    background-color: black;
}

.container {
    background: white;
    margin-top: 3em;
}

#content {
    background: yellow;
}

.section
{
    padding: 2em;
}

p.intro {
    min-height: 2em;
    padding-top: .8em;
    color: #888;
}

p.fixed.intro {
    height: 5em;
}

h1 {
    font-family: 'Helvetica Neue', helvetica, sans-serif;
    font-weight: 300;
    color: red;
}

table, table tr, table tr td {
    background-color: snow;
}

table tbody tr td.narrow {
    width: 100px;
}

table td {
    vertical-align: middle;
}

table tr.failure {
    color: red;
    border-top: 2px solid red;
}

table tr.failure a {
    color: red;
}

table tr.error {
    color: red;
}

table tr.failure td {
    background-color: lightgoldenrodyellow;
}

span.loading {
    font-size: .8em;
    color: #555;
}
