/* @override http://localhost:9181/static/css/main.css */

.container-fluid {
    background: white;
}

#content {
    background: yellow;
}

.section
{
    padding: 2em;
}

p.intro {
    min-height: 2em;
    padding-top: .8em;
    color: #888;
}

p.fixed.intro {
    height: 5em;
}

h1 {
    font-family: 'Helvetica Neue', helvetica, sans-serif;
    font-weight: 300;
    color: steelblue;
    text-shadow: 0 -1px #229;
}

h1 strong {
    font-weight: 500;
}

h1 strong.failed {
    color: red;
    text-shadow: 0 -1px #922;
}

table, table tr, table tr td {
    background-color: snow;
}

table tbody tr td.narrow {
    width: 100px;
}

table#queues {
    /*width: 300px;*/
}

#jobs-names-wrapper{
  max-height: 300px;
  overflow-y: auto;
}

table#jobs td.actions a {
    margin-right: 8px;
    margin-bottom: 8px;
}

table#jobs span.description {
    color: #555;
    font-weight: 600;
}

table#jobs span.origin {
    color: #888;
}

table#jobs div.job_id {
    font-size: 70%;
    color: gray;
    margin-left: 24px;
}

pre.exc_info {
    max-height: 30px;
    overflow: hidden;
    cursor: pointer;
}

.enlarge pre.exc_info {
  color: #fff;
  background-color: black;
  max-height: none;
  overflow: auto;
}

table#workers {
    /*width: 600px;*/
}

table tbody tr td {
    vertical-align: middle;
}

table tr.failed {
    color: red;
    border-top: 2px solid red;
}

table tr.failed a {
    color: red;
}

table tr.failed td {
    background-color: lightgoldenrodyellow;
}

span.loading {
    font-size: .8em;
    color: #555;
}
