{% extends "skeletons/base.html" %}

{% block content %}

<h1>Queue {{ queue.name }}</h1>
<p>This list below contains all the jobs currently in the queue.</p>

<a id="refresh-button" class="btn" href="#">Refresh</a> <span class="loading" style="display:none">Loading...</span>

<table id="jobs">
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
        <tr data-role="loading-placeholder">
            <td colspan="2">Loading...</td>
        </tr>
    </tbody>
</table>

<script name="job-row" type="text/template">
    <tr data-role="job">
        <td><%= description %></td>
        <td><%= created_at %></td>
    </tr>
</script>

<script name="no-jobs-row" type="text/template">
    <tr>
        <td colspan="3">No jobs.</td>
    </tr>
</script>

{% endblock %}



{% block inline_js %}

require(['jquery', 'api'], function($, api) {

    var reload_table = function(done) {
        var $raw_tpl = $('script[name=job-row]').html();
        var template = _.template($raw_tpl);

        var $tbody = $('table#jobs tbody');

        $('tr[data-role=loading-placeholder]', $tbody).show();

        // Fetch the available jobs on the queue
        api.getJobs('{{ queue.name }}', function(jobs) {
            $tbody.empty();

            if (jobs.length > 0) {
                $.each(jobs, function(i, job) {
                    var is_err = job.error !== undefined;
                    if (is_err) {
                        job.description = job.error;
                        job.created_at = '';
                    } else {
                        job.created_at = Date.create(job.created_at).relative();
                        job.description = '<code>' + job.description + '</code>';
                    }
                    var html = template(job);
                    var $el = $(html);

                    if (is_err) {
                        $el.addClass('error');
                    }

                    $tbody.append($el);
                });
            } else {
                var html = $('script[name=no-jobs-row]').html();
                $tbody.append(html);
            }

            if (done !== undefined) {
                done();
            }
        });
    };

    var refresh_table = function() {
        $('span.loading').fadeIn('fast');
        reload_table(function() {
            $('span.loading').fadeOut('fast');
        });
    };

    $(document).ready(function() {

        reload_table();
        $('#refresh-button').click(refresh_table);
        setInterval(refresh_table, 2000);

    });
});

{% endblock %}
