<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>RQ dashboard</title>

  {# Le styles -#}
  <link rel="stylesheet" href="{{ url_for('%s' % static_asset_endpoint, filename='%scss/bootstrap.min.css' % asset_prefix) }}">
  <link href="{{ url_for('%s' % static_asset_endpoint, filename='%scss/main.css' % asset_prefix) }}" rel="stylesheet">
</head>

<body>

<div class="container">

    {% block content %}{% endblock %}

</div>

{#- JavaScripts are loaded at the end -#}

{#- Custom JS -#}
<script src="{{ url_for('%s' % static_asset_endpoint, filename='%sjs/jquery.min.js' % asset_prefix) }}" type="text/javascript"></script>
<script src="{{ url_for('%s' % static_asset_endpoint, filename='%sjs/underscore-min.js' % asset_prefix) }}" type="text/javascript"></script>
<script src="{{ url_for('%s' % static_asset_endpoint, filename='%sjs/sugar-1.2.1.min.js' % asset_prefix) }}" type="text/javascript"></script>
<script src="{{ url_for('%s' % static_asset_endpoint, filename='%sjs/bootstrap-tooltip.js' % asset_prefix) }}" type="text/javascript"></script>
<script type="text/javascript">
{% block inline_js %}{% endblock %}
</script>

</body>
</html>
