<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>RQ dashboard</title>

  {# Le styles -#}
  <link rel="stylesheet" href="{{ url_for('rq_dashboard.static', filename='css/bootstrap.min.css') }}">
  <link href="{{ url_for('rq_dashboard.static', filename='css/main.css') }}" rel="stylesheet">
</head>

<body>

<div class="container-fluid">

    {% block content %}{% endblock %}

    <div class="row-fluid">
        <div class="span12">
            <div class="section">

                  {% block jobs_table_title %}{% endblock %}

                  <table id="jobs" class="table table-bordered">
                      <thead>
                          <tr>
                              <th>Name</th>
                              <th>Worker</th>
                              <th>Origin</th>
                              <th style='width:600px'>Args, logs, results</th>
                              <th style='width:130px'>Status</th>
                              <th class="narrow">Actions</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr data-role="loading-placeholder">
                              <td colspan="2">Loading...</td>
                          </tr>
                      </tbody>
                  </table>

                  {% block jobs_table_pagination %}{% endblock %}

            </div>
        </div>
    </div>

    <script name="job-row" type="text/template">
        <tr data-role="job" data-job-id="<%= id %>">
            <td style='word-wrap:break-word'>
              <a href="{{ base_url }}job/<%= id %>"><%= $('<div/>').text(name).html() %></a>
              <div>
                <% if (status == "failed") { %>
                  <% if (meta.timeout) { %>
                    <div><span class='label label-important'>timeout</span></div>
                  <% } else { %>
                    <div><span class='label label-important'>failed</span></div>
                  <% } %>
                <% } else if (status=="finished") { %>
                  <div><span class='label label-success'>finished</span></div>
                <% } else if (status=="started") { %>
                  <div><span class='label label-warning'>started</span></div>
                <% } %>
              </div>
            </td>
            <td>
              <%= meta.worker_name %>
            </td>
            <td>
              <%= origin %>
            </td>
            <td>
              Args :
              <pre class="exc_info"><%= $('<div/>').text(JSON.stringify(args, undefined, 2)).html() %></pre>
              {% if show_logs %}
                <% if (typeof meta == "object" && meta.logs) { %>
                  Logs
                  <pre class="exc_info"><%= $('<div/>').text(meta.logs).html() %></pre>
                <% } %>
              {% endif %}
              {% if show_results %}
                <% if (result) { %>
                  Results
                  <pre class="exc_info"><%= $('<div/>').text(JSON.stringify(result, null, 3)).html() %></pre>
                <% } %>
              {% endif %}
              <% if (exc_info) { %>
                <span style='color:red'>Exception :</span>
                <pre class="exc_info"><%= $('<div/>').text(exc_info).html() %></pre>
              <% } %>
            </td>
            <td>
              <div><span class="creation_date">Created <%= created_at %></span></div>
              <% if (started_at) { %>
                <div><span class="start_date">Started <%= started_at %></span></div>
              <% } %>
              <% if (ended_at) { %>
                <div><span class="end_date">Finished <%= ended_at %></span></div>
                <% if (started_at) { %>
                  <div><span class="">Took <%= Math.round(duration*100)/100 %> seconds</span></div>
                <% } %>
              <% } %>

            </td>
            <td class="actions narrow">
                <% if (status == "failed") { %>
                    <a href="#" data-role="requeue-job-btn" class="btn btn-small"><i class="icon-retweet"></i> Requeue</a>
                <% } %>
                <a href="#" data-role="cancel-job-btn" class="btn btn-small"><i class="icon-remove"></i> Cancel</a>
            </td>
        </tr>
    </script>

    <script name="no-jobs-row" type="text/template">
        <tr>
            <td colspan="3">No jobs.</td>
        </tr>
    </script>

    {% block footer %}
        <div class="row-fluid">
            <div class="span12">
                <div class="section">
                    <p class="intro"><a href="{{ base_url }}" id="home-btn" class="btn btn-small" style="float: left"><i class="icon-arrow-left"></i> Home</a></p>
                </div>
            </div>
        </div>
    {% endblock %}

</div>

{#- JavaScripts are loaded at the end -#}

{#- Custom JS -#}
<script src="{{ url_for('rq_dashboard.static', filename='js/jquery.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('rq_dashboard.static', filename='js/underscore-min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('rq_dashboard.static', filename='js/sugar-1.2.1.min.js') }}" type="text/javascript"></script>
<script type="text/javascript">
{% block inline_js %}{% endblock %}
{% include "rq_dashboard/base.js" %}
</script>

</body>
</html>
