{% extends "rq_dashboard/base.html" %}


{% block content %}

<div class="row-fluid">
    <div class="span6">
        <div class="section">

            <h1>Queues</h1>
            <a href="{{ url_for('rq_dashboard.empty_all_queues') }}" id="empty-all-btn" class="btn btn-danger btn-small" style="float: right"><i class="icon-trash icon-white"></i> Empty all</a>

            <table id="queues" class="table table-bordered">
                <thead>
                    <tr>
                        <th>Queue</th>
                        <th class="narrow">Jobs</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-role="loading-placeholder">
                        <td colspan="2">Loading...</td>
                    </tr>
                </tbody>
            </table>

            <script name="queue-row" type="text/template">
                <tr data-role="queue">
                    <td><i class="icon-inbox" style="opacity: .5;"></i> <a href="<%= url %>"><%= name %></a></td>
                    <td class="narrow"><%= count %></td>
                </tr>
            </script>

            <script name="no-queues-row" type="text/template">
                <tr>
                    <td colspan="3">No queues.</td>
                </tr>
            </script>

        </div>

    </div>

    <div class="span6">
        <div class="section">

        <h1>Workers</h1>

        <table id="workers" class="table table-bordered">
            <thead>
                <tr>
                    <th style="width:48px">State</th>
                    <th>Worker</th>
                    <th>Queues</th>
                </tr>
            </thead>
            <tbody>
                <tr data-role="loading-placeholder">
                    <td colspan="3">Loading...</td>
                </tr>
            </tbody>
        </table>

        <script name="worker-row" type="text/template">
            <tr data-role="worker">
                <td><i class="icon-<%= state %>"></i></td>
                <td><%= name %></td>
                <td><%= queues.join(', ') %></td>
            </tr>
        </script>

        <script name="worker-row-grouped" type="text/template">
            <tr data-role="worker">
                <td style="width:70px;"><i class="icon-play"></i>&nbsp;<%= busy_count %> &nbsp;<i class="icon-pause"></i>&nbsp;<%= idle_count %></td>
                <td colspan="2"><%= queues.join(', ') %></td>
            </tr>
        </script>

        <script name="no-workers-row" type="text/template">
            <tr>
                <td colspan="3">No workers.</td>
            </tr>
        </script>

        </div>
        <div class="section">

            <h1>Jobs Names</h1>
            <div id="jobs-names-wrapper">
              <table id="jobs-names" class="table table-bordered">
                  <thead>
                      <tr>
                          <th>Name</th>
                          <th class="narrow">Jobs</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr data-role="loading-placeholder">
                          <td colspan="2">Loading...</td>
                      </tr>
                  </tbody>
              </table>
            </div>

            <script name="job-name-row" type="text/template">
                <tr data-role="queue">
                    <td><i class="icon-inbox" style="opacity: .5;"></i> <a href="<%= url %>"><%= name %></a></td>
                    <td class="narrow"><%= count %></td>
                </tr>
            </script>

            <script name="no-jobs-names-row" type="text/template">
                <tr>
                    <td colspan="3">No Jobs names.</td>
                </tr>
            </script>

        </div>
    </div>
</div>

{% endblock %}


{% block jobs_table_title %}
    <h1>Jobs on <strong{% if queue.name == 'failed' %} class="failed"{% endif %}>{{ queue.name }}</strong></h1>

    <a href="{{ url_for('rq_dashboard.cancel_all', queue_name=queue.name) }}"
       id="cancel-all-btn" class="btn btn-danger btn-small" style="float: right"
       title="removes the items in the queue AND the associated jobs">
       <i class="icon-white icon-trash"></i><i class="icon-white icon-trash"></i> Cancel all
    </a>
    <a href="{{ url_for('rq_dashboard.empty_queue', queue_name=queue.name) }}"
       id="empty-btn" class="btn btn-danger btn-small" style="float: right; margin-right: 8px;"
       title="removes the items in the queue only">
       <i class="icon-trash icon-white"></i> Empty
    </a>
    <a href="{{ url_for('rq_dashboard.compact_queue', queue_name=queue.name) }}"
       id="compact-btn" class="btn btn-small" style="float: right; margin-right: 8px;"
       title="removes the items for which the associated job does not exist anymore">
       <i class="icon-resize-small"></i> Compact
    </a>
    <a href="{{ url_for('rq_dashboard.requeue_all') }}"
       id="requeue-all-btn" class="btn btn-small" style="float: right; margin-right: 8px;">
       <i class="icon-retweet"></i> Requeue all failed jobs
    </a>
    <a id="toggle-json-jobs" class="btn btn-small" style="float: right; margin-right: 8px;">View all logs</a>
{% endblock %}


{% block jobs_table_pagination %}
        <div id="page-selection" class="pagination pagination-centered">
          <ul>
          </ul>
        </div>

        <script name="no-previous-page-link" type="text/template">
            <li class="disabled" ><a href="#" >&laquo;</a></li>
        </script>

        <script name="previous-page-link" type="text/template">
            <li><a href="<%= url %>" >&laquo;</a></li>
        </script>

        <script name="page-link" type="text/template">
            <li><a href="<%= url %>" ><%= number %></a></li>
        </script>

        <script name="next-page-link" type="text/template">
            <li><a href="<%= url %>" >&raquo;</a></li>
        </script>

        <script name="no-next-page-link" type="text/template">
            <li class="disabled" ><a href="#" >&raquo;</a></li>
        </script>
{% endblock %}

{% block inline_js %}
var POLL_INTERVAL = {{ poll_interval }};
var GROUP_WORKERS = {{ group_workers }};
var BASE_URL = {{ base_url|tojson }};
{% include "rq_dashboard/dashboard.js" %}
{% endblock %}
