{% extends "rq_dashboard/base.html" %}

{% block content %}
<div class="row" id="rq-instances-row">
    {% include "rq_dashboard/rq_instances.html" %}
</div>

<div class="row">
    {% include "rq_dashboard/queues.html" %} 
    {% include "rq_dashboard/workers.html" %}
</div>
                
{% import 'rq_dashboard/jobs_table.html' as job_table %}

{{ job_table.render_html(queue.name, 'pending', newest_top) }}

{% if queue.name != 'failed' %}
    {{ job_table.render_html(queue.name, 'running', newest_top) }}
{% endif %}

{% if queue.name != 'failed' %}
    {{ job_table.render_html(queue.name, 'finished', newest_top) }}
{% endif %}

<div class="row">
    <div class="span12">
        <div class="section">
          {%- set url = request.args.get("url") -%}
          <p class="intro"><a href="{{ url or '/' }}" id="home-btn" class="btn btn-small" style="float: left"><i
              class="icon-arrow-left"></i> {{'Back' if url else 'Home'}}</a></p>
        </div>
    </div>
</div>

{% endblock %}


{% block inline_js %}
var POLL_INTERVAL = {{ poll_interval }};
{% include "rq_dashboard/dashboard.js" with context %}
{% endblock %}
