{% extends "rq_dashboard/base.html" %}

{% block content %}
<div class="row" id="rq-instances-row">
    {% include "rq_dashboard/rq_instances.html" %}
</div>

<div class="row">
    {% include "rq_dashboard/queues.html" %} 
    {% include "rq_dashboard/workers.html" %}
</div>


{% if queue.name != 'failed' %}
    {% include "rq_dashboard/running_jobs_table.html" %}
{% endif %}

{% include "rq_dashboard/pending_jobs_table.html" %}


{% if queue.name != 'failed' %}
    {% include "rq_dashboard/finished_jobs_table.html" %}
{% endif %}


<div class="row">
    <div class="span12">
        <div class="section">
          {%- set url = request.args.get("url") -%}
          <p class="intro"><a href="{{ url or '/' }}" id="home-btn" class="btn btn-small" style="float: left"><i
              class="icon-arrow-left"></i> {{'Back' if url else 'Home'}}</a></p>
        </div>
    </div>
</div>

{% endblock %}


{% block inline_js %}
var POLL_INTERVAL = {{ poll_interval }};
{% include "rq_dashboard/dashboard.js" with context %}
{% endblock %}
