<div class="row" id="finished-jobs-table">
    <div class="span12">
        <div class="section">
            <h1>Finished Jobs on {{ queue.name }}</strong></h1>
            <p class="intro">
                <a href="{{ url_for('rq_dashboard.delete_all_job_view', queue_name=queue.name, state='finished') }}" id="empty-finished-jobs-btn" 
                   class="btn btn-danger btn-small" style="float: right" data-toggle="tooltip"
                   title="Remove all finished jobs (<b>destructive</b>)" data-html=true><i
                        class="icon-trash icon-white"></i> Empty</a>

            <table id="finished-jobs" class="table table-bordered">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th class="narrow">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr data-role="loading-placeholder">
                    <td colspan="2">Loading...</td>
                </tr>
                </tbody>
            </table>

            <script name="finished-jobs-row" type="text/template">
                <tr data-role="job" data-job-id="<%= d.id %>">
                    <td>
                        <i class="icon-file" style="opacity: .5;"></i>
                        <span class="description"><%= $('<div/>').text(d.description).html() %></span>
                        <% if (d.exc_info) { %>
                        <span class="origin">from <strong><%= d.origin %></strong></span>
                        <% } %>
                        <div class="job_id"><%= d.id %></div>
                        <% if (d.exc_info) { %>
                        <span class="end_date">Failed <%= d.ended_at %></span>
                        <pre class="exc_info"><%= $('<div/>').text(d.exc_info).html() %></pre>
                        <% } %>
                    </td>
                    <td><span class="creation_date"><%= d.created_at %></span></td>
                    <td class="actions narrow">
                        <a href="#" data-role="requeue-finished-job-btn" class="btn btn-small"><i class="icon-retweet"></i>
                            Requeue</a>
                    </td>
                </tr>
            </script>

            <script name="no-finished-jobs-row" type="text/template">
                <tr>
                    <td colspan="3">No jobs.</td>
                </tr>
            </script>

            <div id="finished-jobs-page-selection" class="pagination pagination-centered">
                <ul>
                </ul>
            </div>

            <script name="first-page-link" type="text/template">
                <li><a href="<%= url %>">&laquo;</a></li>
            </script>

            <script name="no-previous-page-link" type="text/template">
                <li class="disabled"><a href="#">&lsaquo;</a></li>
            </script>

            <script name="previous-page-link" type="text/template">
                <li><a href="<%= url %>">&lsaquo;</a></li>
            </script>

            <script name="page-link" type="text/template">
                <li><a href="<%= url %>"><%= number %></a></li>
            </script>

            <script name="next-page-link" type="text/template">
                <li><a href="<%= url %>">&rsaquo;</a></li>
            </script>

            <script name="no-next-page-link" type="text/template">
                <li class="disabled"><a href="#">&rsaquo;</a></li>
            </script>

            <script name="last-page-link" type="text/template">
                <li><a href="<%= url %>">&raquo;</a></li>
            </script>
        </div>
    </div>
</div>
