<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="">RQ-dashboard</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li {% if active_tab == 'queues'%} class="active" {% endif %}><a href="/queues/">Queues</a></li>
                    <li {% if active_tab == 'jobs'%} class="active" {% endif %}><a href="/jobs/">Jobs</a></li>
                    <li {% if active_tab == 'workers'%} class="active" {% endif %}><a href="/workers/">Workers</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
