{% extends "rq_dashboard/base.html" %}

{% block content %}
<div class="span12">
    <div class="section">

        <h1>Queues</h1>
        <p class="fixed intro">This list below contains all the registered queues with the number of jobs currently
            in the queue. Select a queue from above to view all jobs currently pending on the queue.</p>

        <table id="queues" class="table table-bordered">
            <thead>
            <tr>
                <th>Queue</th>
                <th class="narrow">Queued jobs</th>
                <th class="narrow">Failed jobs</th>
            </tr>
            </thead>
            <tbody>
            <tr data-role="loading-placeholder">
                <td colspan="3">Loading...</td>
            </tr>
            </tbody>
        </table>

        <script name="queue-row" type="text/template">
            <tr data-role="queue">
            <td><i class="icon-inbox" style="opacity: .5;"></i> <%= d.name %></td>
            <td class="narrow"> <a href="<%= d.url %>"><%= d.count %></a></td>
            <td class ="failed"> <a href="<%= d.url + '/failed' %>"><%= d.failed_job_registry_count %></a></td>
            </tr>
        </script>

        <script name="no-queues-row" type="text/template">
            <tr>
                <td colspan="3">No queues.</td>
            </tr>
        </script>

    </div>
</div>
{% endblock %}

{% block inline_js %}

(function($) {
    var $raw_tpl = $('script[name=queue-row]').html();
    var noQueuesHtml = $('script[name=no-queues-row]').html();
    var template = _.template($raw_tpl);
    var $tbody = $('table#queues tbody');
    var $placeholderEl = $('tr[data-role=loading-placeholder]', $tbody);

    var reload_table = function(done) {
        $placeholderEl.show();

        // Fetch the available queues
        api.getQueues(function(queues, err) {
            // Return immediately in case of error
            if (err) {
                return done();
            }
            var html = '';

            $tbody.empty();

            if (queues.length > 0) {
                $.each(queues, function(i, queue) {
                    var el = template({d: queue}, {variable: 'd'});
                    html += el;
                });
                $tbody.append(html);
            } else {
                $tbody.append(noQueuesHtml);
            }

            if (done !== undefined) {
                done();
            }
        });
    };

    var refresh_table_loop = function() {
        $('span.loading').fadeIn('fast');
        reload_table(function() {
            $('span.loading').fadeOut('fast');
            setTimeout(refresh_table_loop, POLL_INTERVAL);
        });
    };

    $(document).ready(function() {
        refresh_table_loop();
        $('#refresh-button').click(reload_table);
        $('[data-toggle=tooltip]').tooltip();
    });
})($);
{% endblock%}
