<div class="span6">
    <div class="section">

        <h1>Queues</h1>
        <p class="fixed intro">This list below contains all the registered queues with the number of jobs currently
            in the queue. Select a queue from above to view all jobs currently pending on the queue.</p>

        <table id="queues" class="table table-bordered">
            <thead>
            <tr>
                <th>Queue</th>
                <th class="narrow">Jobs</th>
            </tr>
            </thead>
            <tbody>
            <tr data-role="loading-placeholder">
                <td colspan="2">Loading...</td>
            </tr>
            </tbody>
        </table>

        <script name="queue-row" type="text/template">
            <tr data-role="queue" <% if (d.name === 'failed' && d.count > 0) { %> class="failed"<% } %>>
            <td><i class="icon-inbox" style="opacity: .5;"></i> <a href="<%= d.url %>"><%= d.name %></a></td>
            <td class="narrow"><%= d.count %></td>
            </tr>
        </script>

        <script name="no-queues-row" type="text/template">
            <tr>
                <td colspan="3">No queues.</td>
            </tr>
        </script>

    </div>
</div>
